# PostgreSQL (RDS)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=users_db
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=UTC

# Serviço externo — authentication-api
AUTH_SERVICE_URL=http://authentication-api:8081

# App
ENV=development
API_VERSION=1.0.0
GIN_MODE=debug
HTTP_PORT=8080
HTTP_ALLOWED_ORIGINS=*

# JWT
JWT_SECRET=your-secret-here
JWT_ACCESS_TOKEN_EXPIRY=15m

# Admin seed (opcional)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123456
ADMIN_DOCUMENT=000.000.000-00

# DataDog
DD_API_KEY=
DD_SITE=
DD_AGENT_HOST=
DD_SERVICE=video-processor-users-api
DD_VERSION=1.0.0
