# Database
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=usersdb
DB_SSLMODE=disable
DB_TIMEZONE=America/Sao_Paulo

# HTTP
HTTP_PORT=8080
HTTP_ALLOWED_ORIGINS=*

# App
ENV=development
GIN_MODE=debug
API_VERSION=v1

# JWT
JWT_SECRET=troque-por-uma-string-secreta
JWT_ACCESS_TOKEN_EXPIRY=15m

# Serviço externo
AUTH_SERVICE_URL=http://authentication-api:8081

# Admin bootstrap
ADMIN_EMAIL=admin@garage.com
ADMIN_PASSWORD=Admin@123
ADMIN_DOCUMENT=000.000.000-00

# Datadog
DD_AGENT_HOST=datadog-agent
DD_SERVICE=video-processor-users-api
DD_SITE=datadoghq.com
DD_API_KEY=
API_VERSION=v1
